*.sh
.venv/
.uv-local/
outputs/
checkpoints
datasets
lightning_logs/
pretrained_weights
upload_weights.py
*toml
!pyproject.toml
!uv.lock
!src/model/encoder/backbone/croco/curope/pyproject.toml
*.cache/
*ckpt
__pycache__/
*.py[cod]
*.pyo
*.pyc
*.so
build/
